RewriteEngine On

RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
RewriteRule .* - [F]

RewriteRule ^/?$ login.html
RewriteRule ^p_login/?$ login.html
RewriteRule ^p_drawing_records/?$ drawing_records.html
RewriteRule ^p_drawing_deleted/?$ drawing_deleted.html
RewriteRule ^p_inventory/?$ inventory.html
RewriteRule ^p_purchase_request/?$ purchase_request.html
RewriteRule ^p_supplier_management/?$ supplier_management.html
RewriteRule ^p_item_management/?$ item_management.html
RewriteRule ^p_item_type_management/?$ item_type_management.html
RewriteRule ^p_store_management/?$ store_management.html
RewriteRule ^p_kpi_in/?$ kpi_in.html
RewriteRule ^p_kpi_ppns/?$ kpi_ppns.html
RewriteRule ^p_utility/?$ utility.html
RewriteRule ^p_attendance/?$ attendance.html
RewriteRule ^p_attendance_site/?$ attendance_site.html
RewriteRule ^p_attendance_group/?$ attendance_group.html
RewriteRule ^p_gamification/?$ gamification.html
RewriteRule ^p_fca_task/?$ fca_task.html
RewriteRule ^p_fca_all/?$ fca_all.html
RewriteRule ^p_fca_zone/?$ fca_zone.html
RewriteRule ^p_fca_defect/?$ fca_defect.html
RewriteRule ^p_fca_report/?$ fca_report.html
RewriteRule ^p_mrf/?$ mrf.html
RewriteRule ^p_waste_main/?$ waste_main.html
RewriteRule ^p_waste_type/?$ waste_type.html
RewriteRule ^p_complaint/?$ complaint.html
RewriteRule ^p_complaint/(.+)/?$ complaint.html
RewriteRule ^p_zone/?$ zone.html
RewriteRule ^p_wo_assign/?$ wo_assign.html
RewriteRule ^p_wo_verify/?$ wo_verify.html
RewriteRule ^p_ppm_asset/?$ ppm_asset.html

RewriteRule ^asset_group/?$ api/asset_group_v2.php
RewriteRule ^asset_group/(.+)/?$ api/asset_group_v2.php
RewriteRule ^ast_asset/?$ api/ast_asset.php
RewriteRule ^ast_asset/(.+)/?$ api/ast_asset.php
RewriteRule ^ast_part/?$ api/ast_part.php
RewriteRule ^ast_part/(.+)/?$ api/ast_part.php
RewriteRule ^att_group/?$ api/att_group.php
RewriteRule ^att_group/(.+)/?$ api/att_group.php
RewriteRule ^att_participant/?$ api/att_participant.php
RewriteRule ^att_participant/(.+)/?$ api/att_participant.php
RewriteRule ^att_type/?$ api/att_type.php
RewriteRule ^att_type/(.+)/?$ api/att_type.php
RewriteRule ^att_transaction/?$ api/att_transaction.php
RewriteRule ^att_transaction/(.+)/?$ api/att_transaction.php
RewriteRule ^client/?$ api/client_v2.php
RewriteRule ^client/(.+)/?$ api/client_v2.php
RewriteRule ^client_severity/?$ api/client_severity.php
RewriteRule ^client_severity/(.+)/?$ api/client_severity.php
RewriteRule ^designation/?$ api/designation_v2.php
RewriteRule ^designation/(.+)/?$ api/designation_v2.php
RewriteRule ^do/?$ api/do.php
RewriteRule ^do/(.+)/?$ api/do.php
RewriteRule ^do_item/?$ api/do_item.php
RewriteRule ^do_item/(.+)/?$ api/do_item.php
RewriteRule ^document/?$ api/document.php
RewriteRule ^document/(.+)/?$ api/document.php
RewriteRule ^drawing/?$ api/drawing.php
RewriteRule ^drawing/(.+)/?$ api/drawing.php
RewriteRule ^fca_task/?$ api/fca_task.php
RewriteRule ^fca_task/(.+)/?$ api/fca_task.php
RewriteRule ^fca_zone/?$ api/fca_zone.php
RewriteRule ^fca_zone/(.+)/?$ api/fca_zone.php
RewriteRule ^fca_defect_category/?$ api/fca_defect_category.php
RewriteRule ^fca_defect_category/(.+)/?$ api/fca_defect_category.php
RewriteRule ^fca_defect_category_site/?$ api/fca_defect_category_site.php
RewriteRule ^fca_defect_category_site/(.+)/?$ api/fca_defect_category_site.php
RewriteRule ^fca_report/?$ api/fca_report.php
RewriteRule ^fca_report/(.+)/?$ api/fca_report.php
RewriteRule ^gamification/?$ api/gamification.php
RewriteRule ^gamification/(.+)/?$ api/gamification.php
RewriteRule ^item/?$ api/item.php
RewriteRule ^item/(.+)/?$ api/item.php
RewriteRule ^item_v2/?$ api/item_v2.php
RewriteRule ^item_v2/(.+)/?$ api/item_v2.php
RewriteRule ^item_image/?$ api/item_image.php
RewriteRule ^item_image/(.+)/?$ api/item_image.php
RewriteRule ^item_type/?$ api/item_type.php
RewriteRule ^item_type/(.+)/?$ api/item_type.php
RewriteRule ^item_type_v2/?$ api/item_type_v2.php
RewriteRule ^item_type_v2/(.+)/?$ api/item_type_v2.php
RewriteRule ^kpi/?$ api/kpi.php
RewriteRule ^kpi/(.+)/?$ api/kpi.php
RewriteRule ^m_inventory/?$ api/m_inventory.php
RewriteRule ^m_inventory/(.+)/?$ api/m_inventory.php
RewriteRule ^noti_web/?$ api/noti_web.php
RewriteRule ^noti_web/(.+)/?$ api/noti_web.php
RewriteRule ^part/?$ api/part.php
RewriteRule ^part/(.+)/?$ api/part.php
RewriteRule ^part_sub/?$ api/part_sub.php
RewriteRule ^part_sub/(.+)/?$ api/part_sub.php
RewriteRule ^ppm_v2/?$ api/ppm_v2.php
RewriteRule ^ppm_v2/(.+)/?$ api/ppm_v2.php
RewriteRule ^ppm_v3/?$ api/ppm_v3.php
RewriteRule ^ppm_v3/(.+)/?$ api/ppm_v3.php
RewriteRule ^ppm_asset/?$ api/ppm_asset.php
RewriteRule ^ppm_asset/(.+)/?$ api/ppm_asset.php
RewriteRule ^ppm_task/?$ api/ppm_task.php
RewriteRule ^ppm_task/(.+)/?$ api/ppm_task.php
RewriteRule ^ppm_task_assist/?$ api/ppm_task_assist.php
RewriteRule ^ppm_task_assist/(.+)/?$ api/ppm_task_assist.php
RewriteRule ^pr/?$ api/pr.php
RewriteRule ^pr/(.+)/?$ api/pr.php
RewriteRule ^site/?$ api/site_v2.php
RewriteRule ^site/(.+)/?$ api/site_v2.php
RewriteRule ^status/?$ api/status.php
RewriteRule ^status/(.+)/?$ api/status.php
RewriteRule ^store/?$ api/store.php
RewriteRule ^store/(.+)/?$ api/store.php
RewriteRule ^store_v2/?$ api/store_v2.php
RewriteRule ^store_v2/(.+)/?$ api/store_v2.php
RewriteRule ^severity_v2/?$ api/severity_v2.php
RewriteRule ^severity_v2/(.+)/?$ api/severity_v2.php
RewriteRule ^utility/?$ api/utility.php
RewriteRule ^utility/(.+)/?$ api/utility.php
RewriteRule ^utility_meter/?$ api/utility_meter.php
RewriteRule ^utility_meter/(.+)/?$ api/utility_meter.php
RewriteRule ^user/?$ api/user.php
RewriteRule ^user/(.+)/?$ api/user.php
RewriteRule ^user_profile/?$ api/user_profile.php
RewriteRule ^user_profile/(.+)/?$ api/user_profile.php
RewriteRule ^user_signature/?$ api/user_signature.php
RewriteRule ^user_signature/(.+)/?$ api/user_signature.php
RewriteRule ^wo_request/?$ api/wo_request.php
RewriteRule ^wo_request/(.+)/?$ api/wo_request.php
RewriteRule ^wo_parts/?$ api/wo_parts.php
RewriteRule ^wo_parts/(.+)/?$ api/wo_parts.php
RewriteRule ^wo_v2/?$ api/wo_v2.php
RewriteRule ^wo_v2/(.+)/?$ api/wo_v2.php
RewriteRule ^wo_v3/?$ api/wo_v3.php
RewriteRule ^wo_v3/(.+)/?$ api/wo_v3.php
RewriteRule ^wo_task_assist/?$ api/wo_task_assist.php
RewriteRule ^wo_task_assist/(.+)/?$ api/wo_task_assist.php
RewriteRule ^wo_task_assist_v2/?$ api/wo_task_assist_v2.php
RewriteRule ^wo_task_assist_v2/(.+)/?$ api/wo_task_assist_v2.php
RewriteRule ^wo_task_parts/?$ api/wo_task_parts.php
RewriteRule ^wo_task_parts/(.+)/?$ api/wo_task_parts.php
RewriteRule ^wo_task_request/?$ api/wo_task_request.php
RewriteRule ^wo_task_request/(.+)/?$ api/wo_task_request.php
RewriteRule ^wo_task_public/?$ api/wo_task_public.php
RewriteRule ^wo_task_public/(.+)/?$ api/wo_task_public.php
RewriteRule ^wo_task_upload/?$ api/wo_task_upload.php
RewriteRule ^wo_task_upload/(.+)/?$ api/wo_task_upload.php
RewriteRule ^wo_image_zip/?$ api/wo_image_zip.php
RewriteRule ^wo_image_zip/(.+)/?$ api/wo_image_zip.php
RewriteRule ^zone/?$ api/zone.php
RewriteRule ^zone/(.+)/?$ api/zone.php